.footer{
  margin-top: 2rem;
  background-color: rgb(25, 28, 33);
  // min-height: 4rem;
  padding: 2rem 1rem;
  position: sticky;
  top: 100%;
  color: grey;
  text-align: center;
  font-size: .7rem;
}