.form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--c-secondary);
  padding: .3rem;
  border-radius: var(--br-dull);
  width: fit-content;
  color: var(--c-txt-rev);

  label{
    width: 100%;
    min-width: 1rem;
  }
  // max-width: 30em;

  button[type="submit"]{
    height: fit-content;
    margin-top: auto;
    background-color: var(--c-primary);
    // color: var(--c-txt-rev);
  }
  
}