.active {
  border-bottom: solid 1px var(--c-primary);
  color: var(--c-accent);
}


.nav :global{

  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(3px);
  background-color: rgba(55, 55, 55, 0.368);
  width: 100%;

  div.siteWrapper {
    display: flex;
    justify-content: space-between;

    // // debug
    // border: dashed 1px rgb(43, 226, 83);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      display: flex;
      flex-direction: column;
    }

    a {
      padding: 1rem;
      display: inline-block;
      transition-property: color, background, border;
      transition-duration: .2s;
      transition-timing-function: linear;
      display: grid;
      place-items: center;
      flex-grow: 1;
      border-bottom: solid 1px transparent;

      &:hover, &:focus{
        border-bottom: solid 1px var(--c-accent);
      }

      &:active{
        border-bottom: solid 1px var(--c-accent);
        color: var(--c-accent);
      }
    }
  }
  
  ul.main {
    // background-color: rgb(56, 63, 80);
    display: flex;
    max-width: fit-content;
    border-radius: 0 0 var(--br-dull) var(--br-dull);
  }

  ul.utility{
    margin-left: auto;

    svg {
      font-size: 2rem;
    }
  }
}