// https://codepen.io/geoffyuen/pen/DZxEKy

$breakpoint-alpha: 880px; // adjust to your needs

.cont{
  padding: 1rem;
  background-color: rgba(73, 74, 75, 0.575);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);
  margin-bottom: 1rem;
  border-radius: var(--br-soft);
  box-shadow: var(--boxs-1);
}

.header{
  display: flex;
  align-items: center;
  gap: 1rem;

}

.rwdTable {

  --w-breakpoint: 480px;

  margin: 1em 0 3em 0;
  min-width: 300px; // adjust to your needs
  width: 100%;
  border-collapse: collapse;
  container-type: inline-size;

  caption{
    text-align: left;
    font-size: 1.4rem;
  }

  thead{
    border-bottom: solid 2px var(--c-primary);
    // border-radius: var(--br-soft);
  }

  thead th {
    padding: 0.7rem;
    font-weight: bold;
  }
  
  tr {
    // border-top: 1px solid #ddd;
    // border-bottom: 1px solid #ddd;
    padding: 2rem 0;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    color: var(--c-txt);
    padding: 1rem;
    
    // &:first-child {
    //   padding-top: .5em;
    // }
    // &:last-child {
    //   padding-bottom: .5em;
    // }

    &:before {
      border-bottom: solid 1px var(--c-primary);
      margin-right: 1rem;
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      font-family: var(--font-header);

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
      
      @container (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
    }
    @container (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
    }

  }

  tr:nth-child(even){

    background-color: rgba(123, 123, 123, 0.236);
    
  }
  
  
}


