// Fonts
body {
  font-family: var(--font-paragraph), Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6, thead{
  font-family: var(--font-header), Verdana, sans-serif;
}


@media (width > 800px) {
  h1 {
    font-size: 4rem;
  }
}